.wrap {
	margin: 200px;
	/*background-color: pink;*/
}

.form-container {
	width: 20%;
	margin: 10px auto;
/*	background-color: green;*/
}

.login {
	padding-left: 10px;
}

.plus {
	display:block;
	width:50px;
	height:50px;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background: #464646;

	font-size:22px;
	font-weight:bold;
}

.plus:hover {
	opacity: 0.7;
}