.wrap {
	margin: 200px;
	/*background-color: pink;*/
}

.form-container {
	width: 20%;
	margin: 10px auto;
/*	background-color: green;*/
}

.login {
	padding-left: 10px;
}

.plus {
	display: block;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background: #d15492;
	border: none;
	font-size: 50px;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
}

.plus:hover {
	background: #af4479;
}

a:hover plus {
	text-decoration: none;
}

.wrapper {
	position: relative;
}

.date {
	font-family: 'Prata', serif;
	text-align: center;
	font-size: 50px;
}

.water {
	border-radius: 3px;
	margin: 3px auto;
	background: #fde440;
	border: 0px;
	font-family: 'Prata', serif;
	font-weight: 700;
	font-size: 20px;
}

.card-wrapper {
	margin: 20px 70px;
}

.notification {
	background-color: none;
	margin: 0px;
	height: 70px;
}

.box-wrapper {
	display: flex;
	align-items: center;
}

.box {
	width: 310px;
	padding: 12px;
	border-radius: 5px;
	background-color: #2E8B57;
	margin: 10px 15px;
	display: flex;
	align-content: space-around;
	flex-direction: column;
	position: relative;
}

.box-danger {
	width: 310px;
	padding: 15px;
	border-radius: 5px;
	background-color: #9f0c0c;
	margin: 10px 15px;
	display: flex;
	align-content: space-around;
	flex-direction: column;
	position: relative;
}

.box-title {
	color: white;
	font-family: 'Prata', serif;
	padding-top: 10px;
	margin: 2px;
	text-align: center;
}

.box-title:hover {
	color: black;
	text-transform: none;
}

.box-subtitle {
	font-family: 'Prata', serif;
	text-transform: lowercase;
	font-style: italic;
	text-align: center;
	margin: 0;
	color: #d3d4bd;
}

.box-instructions {
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 49px;
	color: #f5f5dc;
}

h4 {
	margin: 0;
}

.actions {
	position: absolute;
	bottom: 0;
	margin: 12px auto;
	width: 286px;
	display: flex;
	justify-content: center;
}

.edit {
	display: inline;
}

nav {
	background-color: #d15492;
	display: flex;
	flex-direction: column;
	width: 200px;
	padding: 20px;
	position: absolute;
	font-family: 'Prata', serif;
	font-size: 25px;
	border-bottom-right-radius: 20px;
}

.nav-link {
	padding: 20px;
	color: black;
}

.nav-link:hover {
	color: white;
}

@media (orientation: portrait) and (max-width: 1064px) {

/*	.card-wrapper {
		margin: 20px 15px;
	}

	body {
		background-color: pink;
	}*/

	.box {
	width: 400px;
	padding: 10px;
	border-radius: 5px;
	background-color: #2E8B57;
	margin: 10px 15px;
	display: flex;
	align-content: space-around;
	flex-direction: column;
	position: relative;
	}

	.box-instructions {
	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 60px;
	color: #f5f5dc;
	}

	.actions {
	position: absolute;
	bottom: 0;
	margin: 20px auto;
	width: 380px;
	display: flex;
	justify-content: center;
	}

	nav {
	display: flex;
	flex-direction: row;
	padding: 20px;
	margin-bottom: 3px;
	width: 110%;
	position: static;
	font-family: 'Prata', serif;
	border-radius: 0;
	}

}